* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
}

#toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
  padding-right: 16px;
  position: fixed;
  right: 0;
  top: 0;
}

.desk,
.bigmage,
.form-name-message p {
  display: none;
}

.name {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
  width: 200px;
  padding: 16px;
  margin: 0;
  margin-top: 50px;
  color: #1a2236;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.headline {
  width: 90%;
  height: 126px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.textBoton {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.blackBoton {
  font-family: 'Poppins', sans-serif;
  margin: 16px 16px;
  width: 90%;
  height: 50px;
  background: #1a2236;
  color: #fff;
  margin-bottom: 32px;
}

.imagebox {
  display: block;
  height: 160px;
  background-image: url(images/image_geometry_2.png);
}

/* projects section */

.gallery {
  display: grid;
  flex-wrap: wrap;
  width: 100vw;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 100%;
  padding: 16px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 40px 0 2rem;
  background: #fff;
  background-color: transparent;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.pData {
  width: 100%;
  height: 156px;
  background: #1a2236;
  padding-left: 16px;
  bottom: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 300%;
  color: #fff;
}

.projectUl {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
  width: 314px;
}

.projectLi {
  font-size: 10.33px;
  background-color: #98dede;
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 6px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.see {
  background: none;
  border: #fff solid 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 10px;
  color: #dddfe6;
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
}

.textAbout {
  width: 90%;
  height: fit-content;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  padding-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.boxL {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-auto-rows: 19.2rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

  /* border: #1a2236 dotted 1px; */
}

.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  height: 289px;
  width: 289px;
  margin: 9px auto;
}

.lan {
  background: #1c528c;
  background-image: url("./images/lfs/hast.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.fra {
  background-color: #e2505c;
  background-image: url("images/lfs/cuadrado.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 33%;
}

.ski {
  background-color: #febf52;
  background-image: url("images/lfs/foco.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35%;
}

h4 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.inBox {
  color: #fff;
  list-style-position: inside;
  justify-self: center;
}

.image-about {
  display: none;
}

button {
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background: #fff;
  border-color: black;
  border-width: 1px;
  color: #1a2236;
}

button:active {
  border-width: 4px;
}

/* formulary section */

.formulary {
  display: flex;
  flex-direction: column;
  background: #f9f9fa;
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
  padding: 1px;
}

.space {
  height: 106px;

  /* border: #1a2236 dotted 1px; */
}

.cont-form {
  width: 320px;

  /* border: #1a2236 dotted 1px; */
  align-self: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getStar {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
}

.form-name {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfe0;
  height: 46px;
  margin: 8px 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  padding-left: 16px;
  padding-top: 4px;
  color: darkgray;
}

/* hover effect for input field */

.form-name:hover {
  border: 1px solid black;
}

.form-name-contend {
  border: none;
  background: #fff;
}

.form-name-contend:active {
  border: white;
}

.form-text {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 8px 18px;
  height: 90px;
  min-width: 89%;
  max-width: 400px;
  padding-left: 16px;
  padding-top: 8px;
}

label {
  border-radius: 4px;
  border: none;
  background: #fff;
}

/* footer section */

.contenfoo {
  background: #1a2236;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.resume {
  display: flex;
  align-items: center;
  border: transparent;
  color: #92dcdc;
  flex-grow: 2;
  font-size: 16px;
  background: #1a2236;
  justify-content: center;
  margin: 21px 16px;
}

.rsFooter {
  align-self: center;
  background: #1a2236;
  width: 100vw;
  max-width: 320px;
  padding: 20px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.rrss {
  background-color: transparent;
  list-style: none;
  transition-duration: 1.7s;
  cursor: pointer;
}

.rrss:hover {
  zoom: 1.15;
}

@media only screen and (min-width: 768px) {
  #toolbar {
    display: none;
  }

  body {
    background: #fff;
  }

  .imagebox,
  .space {
    display: none;
  }

  .desk {
    display: block;
    border-bottom: 1px solid #dddfe6;
    line-height: 4;
  }

  .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }

  .menu a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    color: #1a2236;
  }

  .menu ul li a:hover {
    transform: scale(2);
    color: #e2505c;
    font-size: 17px;
  }

  .hello {
    display: grid;
    grid: 1rem;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
  }

  .headline {
    font-size: 1vw;
    line-height: 1.5;
    height: fit-content;
    letter-spacing: -0.01em;
  }

  .hello-text {
    display: flex;
    flex-direction: column;
    padding-left: 8em;
    background-image: url(images/project/image_dots.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom right;
    justify-content: center;
  }

  .name {
    font-size: calc(10vw - 3vw);
  }

  .bigimage {
    background-image: url(images/image-big.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .blackBoton {
    width: 60%;
  }

  .textBoton {
    font-size: 100%;
  }

  .see {
    transition-duration: 0.4s;
    cursor: pointer;
    background: #fff;
    color: #1a2236;
  }

  .see:hover {
    background: #1a2236;
    border-color: #fff;
    border-width: 1px;
    color: #fff;
  }

  .see:active {
    border-width: 2px;
  }

  /* project section descktop */

  .projects {
    display: flex;
    max-width: 1280px;
    margin: 17vh auto;
  }

  .card .pData h3 {
    font-weight: 700;
  }

  .card2 .pData h3 {
    font-weight: 700;
    font-size: 25px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1.75fr 1.1fr 0.58fr 1.75fr;
    grid-template-rows: 1.8fr 1fr 0.33fr 0.48fr 1fr 0.8fr;
    gap: 0;
    justify-content: stretch;
  }

  .card {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .card4,
  .card7,
  .card8,
  .form-name-message p {
    display: block;
  }

  .card1 {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }

  .caja1-1 {
    grid-column: 1;
    grid-row: 1;
    background-image: url(images/project/image_dots.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 25%;
  }

  .project-title {
    display: flex;
    justify-content: end;
    padding: 0;
    transform: rotate(270deg);
    font-size: 3.5em;
    align-items: center;
  }

  .card2 {
    width: 100%;
    grid-column: 2 / 5;
    grid-row: 1;
  }

  .card2 img {
    width: 100%;
    height: 79%;
    object-fit: cover;
    object-position: center;
  }

  .card2 .pData,
  .card6 .pData {
    zoom: 1.5;
  }

  .card3 {
    display: grid;
    align-content: end;
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .card3 img {
    align-items: end;
    width: 100%;
  }

  .card4 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    background-image: url(images/project/image-geometry_2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .cardx {
    grid-column: 4;
    grid-row: 2;
  }

  .cardx img {
    width: 100%;
  }

  .card5 {
    grid-column: 4;
    grid-row: 3 / 5;
  }

  .card5 img {
    width: 100%;
  }

  .card img {
    cursor: pointer;
  }

  .card6 {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }

  .card6 img {
    width: 100%;
  }

  .card7 {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    background-image: url(images/project/image-geometry_3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .card8 {
    grid-column: 1 / 3;
    grid-row: 6;
    background-image:
      url(images/project/image-geometry_4.png),
      url(images/project/image-geometry_5.png);
    background-repeat: no-repeat;
    background-position: top right, top left;
    zoom: 110%;
    height: 100%;
  }

  .card9 {
    grid-column: 3 / 5;
    grid-row: 6;
  }

  .card9 img {
    width: 70%;
  }

  .card9 .pData {
    width: 70%;
  }

  .card:hover .pData {
    visibility: visible;
    opacity: 100%;
  }



  /* about section */

.about {
  display: flex;
  flex-direction: column;
}

.textAbout {
  width: 90%;
  height: fit-content;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  padding-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.boxL {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-auto-rows: 19.2rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

  /* border: #1a2236 dotted 1px; */
}

.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  height: 289px;
  width: 289px;
  margin: 9px auto;
}

.lan {
  background: #1c528c;
  background-image: url("./images/lfs/hast.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.fra {
  background-color: #e2505c;
  background-image: url("images/lfs/cuadrado.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 33%;
}

.ski {
  background-color: #febf52;
  background-image: url("images/lfs/foco.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35%;
}

h4 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.inBox {
  color: #fff;
  list-style-position: inside;
  justify-self: center;
}

.image-about {
  display: none;
}

button {
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background: #fff;
  border-color: black;
  border-width: 1px;
  color: #1a2236;
}

button:active {
  border-width: 4px;
}

  /* form responsive */
  .formulary {
    background-image:
      url(images/image-geometry_6.png),
      url(images/image-geometry_7.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    display: flex;
    background-size: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
  }

  .getStar {
    font-size: 110px;
    width: 100%;
    text-align: center;
  }

  .form-hello {
    width: 548px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 21px;
    letter-spacing: -0.01em;
  }

  .cont-form {
    display: flex;
    flex-direction: column;
    width: 40em;
    align-items: center;
    zoom: 80%;
  }

  .form-header {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxForm {
    width: 548px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 18px;
  }

  .form-name {
    border: none;
    background: none;
    margin: 2em 0;
    padding: 0;
    line-height: 2;
    font-size: 12px;
    margin-bottom: 42px;
  }

  .form-name-contend {
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    padding: 0;
  }

  .form-name-message {
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 18px;
    color: #1a2236;
  }

  .boxForm label:nth-child(3) {
    grid-column: 1 / 3;
    background: none;
  }

  .form-text {
    width: 100%;
    margin: 0;
    min-width: none;
    max-width: none;
    height: 115px;
    padding: 18px auto auto 20px;
    font-size: 16px;
    color: lightgray;
  }

  .botonform {
    display: flex;
    justify-content: center;
  }

  .button-form {
    height: 70px;
    width: 254px;
  }

  .form-name:hover {
    border: 0 solid black;
  }

  .form-name-contend:hover {
    border: #1a2236 2px solid;
  }
}

@media only screen and (min-width: 992px) {
  .about {
    zoom: 100%;
  }

  .contenfoo {
    height: 123px;
    align-items: center;
  }

  .card .pData {
    zoom: 1.4;
  }

  .card2 .pData {
    zoom: 2;
  }

  .card6 .pData {
    zoom: 1.8;
  }

  .card9 .pData {
    zoom: 1;
  }
}
