
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





main {
  overflow-y: auto;
}

.button {
  position: absolute;
  top: 100%;
}

.bio-header {
  font-family: Playfair Display, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: left;
  padding: 0 70px;
  flex-direction: column;
 
}

.bio {
  height: 818px;
  width: 100%;
  background-color: #fff;
  background-size: contain;
  padding: 80 80;
  background-origin: border-box;
  border-bottom-left-radius: 0%;
  background-image: url("./image2.png");
  background-repeat: no-repeat;
  background-position: center 30rem;
  letter-spacing: -0.01em;
}

.bio-info {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: justify;
  padding: 50px 57px;
  justify-self: left;
}

@media screen and (min-width: 375px) {
  .menu-icon {
    display: block;
  }

  .link-text {
    display: block;
    background-color: #1a2236;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 52px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 78%;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .bio {
    padding: 250px 260px;
  }

  .link-text {
    display: flex;
    background-color: #1a2236;
    border: none;
    color: white;
    padding: 30px 90px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .link {
    flex-direction: row;
    margin-top: 30px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12px;
    justify-content: center;
  }
}
